@font-face {
	font-family: 'Ananda black'; 
	src: url(/fonts/AnandaBlackPersonalUseRegular-rg9Rx.ttf); 
}
a {
    color: #fff;
    text-decoration: none;
}
body {
  position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Comic Sans MS', 'Arial', Arial, sans-serif;
    font-size: larger;
    color: #434242;
    z-index: -2;
}
.top-right-nav {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #3f71af89;
  padding: 4px 8px;
  border-radius: 5px;
  z-index: 1000;
}

.contact-ref-nav {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact-ref-nav:hover {
  color: rgba(255, 255, 255, 0.565);
}
.contact-icon-nav {
  width:30px;
}
h1 {
    padding-top: 180px;
    margin: 0 auto;
    font-size: 80px;
    font-family: 'Ananda black', Arial, sans-serif;
}
h2{
    color: #3F72AF;
    margin: 0;
    font-size: 50px;
    font-weight: 300;
}
h3 {
    color: #3F72AF;
    font-size: 26px;
    font-weight: 300;
}
h4{
    margin: 0;
    font-size: 26px;
    font-weight: 300;
}
hr{
    border: none;
    height: 1px;
    margin: 0;
    width: 100%;
}
.char{
    font-weight: 700;
}
.inline-container{
    display: inline-block;
}
.top-container {
    background-color: #DBE2EF;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -2;
}
@keyframes startMoveRight {
  from { left: 400px; }
  to { left: 100%; }
}

@keyframes startMoveRight2 {
  from { left: 900px; }
  to { left: 100%; }
}
@keyframes startMoveRight3 {
  from { left: 10px; }
  to { left: 100%; }
}

@keyframes moveRight {
  from { left: -500px; }
  to { left: 100%; }
}

.cloud-img-left {
  position: fixed;
  width: 500px;
  top: 170px;
  z-index: -1;
  animation: startMoveRight 20s linear forwards, moveRight 40s linear infinite 20s;
}

.cloud-img-right {
  position: fixed;
  width: 500px;
  top: 100px;
  left: 900px;
  z-index: -1;
  animation: startMoveRight2 10s linear forwards, moveRight 60s linear infinite 10s;
}

.cloud-img-middle {
  position: fixed;
  width: 500px;
  top: 50px;
  left: 10px;
  z-index: -1;
  animation: startMoveRight3 45s linear forwards, moveRight 80s linear infinite 45s; 
}

.mount-img{
    position: relative;
    width: 100%;
    margin-top: 40vh;
    bottom: -6px;
}
.name-main{
    color: #112D4E;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
.profile-container{
    padding: 30px 0 20px 0;
    background-color: #F9F7F7;
}
.container-header{
    text-align: center;
}
.wrapper{
    text-align: left;
    margin: 0 auto;
    width:50%;
}
.about-me {
    vertical-align: top;
    width:360px;
}
.profile-pic{
    margin-top: 100px;
    margin-left: 50px;
    padding: 20px;
    width:260px;
}
.profile-pic img {
    position: relative;
    border: solid 3px #3F72AF;
    width: 270px;
    height: 270px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.details{
    vertical-align: top;
    width:350px
}
.inst-btn{
    margin-top: 10px;
    width: 150px;
}
.Experienses-container{
    padding: 30px 0 20px 0;
    background-color: #DBE2EF;
}
.Experienses-container table {
  width: 100%;
}
.Experienses-container table tr{
  height: 46px;
}
.left-td{
    width: 30%;
}
.Abilities-container{
    padding: 30px 0 20px 0;
    background-color: #F9F7F7;
}
.rating-result {
	width: 265px;
	margin: 0 auto;
}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: #a0bbee;
	text-shadow: 1px 1px #3F72AF;
}
.projects-container{
    padding: 30px 0 20px 0;
    background-color: #DBE2EF;
}
.contact-container{
    color: #DBE2EF;
    padding: 30px 0 60px 0;
    background-color: #4e4e4e;
}
.contact-container h2{
    color:#DBE2EF;
}
.contact-icon{
    width:40px;
}
.contact-ref{
    color:#c5c5c5;
    font-size: 24px;
    text-decoration: none;
}
.contact-ref:hover{
    color:#fff;
}
.contact-table{
    margin: 0 auto;
}
.size-slider-container, .size-slider-container:before, .size-slider-container:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 700px;
}
svg {
  display: block;
  overflow: visible;
}
.slider-container {
  position: relative;
  bottom:-20px;
  height: 100%;
  cursor: all-scroll;
  overflow-x: hidden;
}
.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}
.slider-control.inactive:hover {
  cursor: auto;
}
.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}
.slider-control.left {
  left: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
  right: 0;
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}
.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}
.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
          transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
          transform: translate(-50%, -50%) scale(1);
}
.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}
.slider.animating {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slider.animating .slide__bg {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
          transform: translateX(0);
}
.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}
.slide:nth-child(1) {
  left: 0;
}
.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("../images/FoodCalories.PNG");
}
.slide:nth-child(1) .slide__overlay-path {
  fill: #e99c7e;
}
.slide:nth-child(2) {
  left: 100%;
}
.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("../images/PulseRelease.PNG");
}
.slide:nth-child(2) .slide__overlay-path {
  fill: #e1ccae;
}
.slide:nth-child(3) {
  left: 200%;
}
.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("../images/Calculator.PNG");
}
.slide:nth-child(3) .slide__overlay-path {
  fill: #adc5cd;
}
.slide:nth-child(4) {
  left: 300%;
}
.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("../images/Shop\ page.PNG");
}
.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  -webkit-transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
  will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
  opacity: 0;
}
.slide__overlay path {
  opacity: 0.8;
}
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
  will-change: transform, opacity;
transform: translateY(-50%);
  opacity: 0;
}
.slide__text-heading {
  color:#434242;
  font-size: 50px;
  margin-bottom: 2rem;
}
.slide__text-desc {
  font-size: 24px;
  margin-bottom: 1.5rem;
}
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2.3rem;
  perspective: 1000px;
}
.slide__text-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
          transform-origin: 50% 100%;
          transform: rotateX(-85deg);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}
.slide__text-link:hover:before {
          transform: rotateX(0);
}
.features{
    text-align: left;
}
.skills-grid {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.skills-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.skills-table td {
  vertical-align: top;
  padding: 5px;
  box-sizing: border-box;
}

.skills-table tr > td:first-child table tr td:first-child {
  width: 45%;
}

.skills-table tr > td:first-child table tr td:last-child,
.skills-table tr > td:last-child table tr td:last-child {
  width: 55%;
}

.rating-result {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.rating-result span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.projects-container-alt {
  display: none;
}
footer {
  background-color: #2C3E50; /* Темный фон для подвала */
  color: #ffffff; /* Белый текст для контраста */
  text-align: center; /* Центрирование текста */
  padding: 20px 0; /* Паддинг сверху и снизу */
  font-size: 16px; /* Размер шрифта */
}
.footer-container {
  width: 100%; /* Ширина контейнера */
  max-width: 1200px; /* Максимальная ширина */
  margin: 0 auto; /* Центрирование контейнера */
  padding: 0 20px; /* Паддинг справа и слева */
}


@media (max-width: 1130px) and (min-width: 768px) {
  .wrapper {
      width: 80%;
  }
  .h1, .h2 {
      font-size: 60px;
  }
  .h3, .h4 {
      font-size: 22px;
  }
  .profile-pic img, .profile-pic {
      width: 200px;
      height: 200px;
  }
  .inline-container {
      display: block;
      width: 100%;
      margin-top: 20px;
  }
  .about-me, .details {
      width: auto;
  }
  .inst-btn {
      width: 120px;
  }
  .cloud-img-left, .cloud-img-right {
      width: 300px;
  }
}

@media (max-width: 767px) {
  .wrapper {
      width: 95%;
  }
  .h1, .h2 {
      font-size: 40px;
  }
  .h3, .h4 {
      font-size: 18px;
  }
  .profile-pic img, .profile-pic {
      width: 150px;
      height: 150px;
  }
  .inline-container {
      display: block;
      width: 100%;
      margin-top: 15px;
  }
  .about-me, .details {
      width: auto;
  }
  .inst-btn {
      width: 100px;
  }
  .cloud-img-left, .cloud-img-right {
      display: none;
  }
  .contact-icon-nav, .contact-icon {
      width: 25px;
  }
  .contact-ref, .contact-ref-nav {
      font-size: 18px;
  }
  .slide__text-heading {
      font-size: 30px;
  }
  .slide__text-desc, .slide__text-link {
      font-size: 16px; 
  }
  .size-slider-container, .slider-container {
      height: 400px; 
  }
  img {
    max-width: 100%;
    height: auto;
  }

  .profile-pic img, .profile-pic {
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
  }

  .mount-img, .cloud-img-left, .cloud-img-right {
      width: 100%;
      position: static;
      animation: none;
  }

  .name-main {
      position: static;
      transform: none;
      margin-top: 20px;
  }

  .slider {
      overflow: hidden; 
  }

  .slide__content {
      width: auto;
  }
  .skills-table {
    display: block;
  }

  .skills-table td {
      display: block; 
      padding: 5px 0;
  }

  .skills-table table {
      margin-bottom: 20px;
  }
  nav {
    display: none
  }
  .projects-container-alt {
    display: block;
  }
  .projects-container {
    display: none;
  }
  .contact-table,
    .contact-table table {
        width: 100%;
        border-collapse: collapse;
    }

    .contact-table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .contact-table table {
        margin-bottom: 20px;
    }
}
